<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            Spreadsheet Upload
          </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <%= form_for @batch, :html => {'ng-controller' => 'UploadCtrl'} do |f| %>
          <%= f.label :assembly %>
          <%= f.text_field :assembly, :'ng-model' => 'assembly' %>
          <%= f.file_field :spreadsheet, :'ng-file-select' => 'onFileSelect($files)' %>
          <%= f.submit "Import", :class => 'btn btn-small btn-info pull-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
